$primary-color: #4057bb;

.top-margin {
  margin: 1rem 0 0 0 !important;
}

#loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  .ui.segment {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
}

#menu {
  padding: 0.5em;
  margin-top: unset;
  border-radius: 0;
}

#agencyOfficeBanner {
  .ui.header {
    color: $primary-color;
  }

  .ui.list {
    .item {
      margin-top: 10px;

      .description {
        margin-top: 10px;
      }
    }
  }
}

#layoutMenu {
  border-radius: 0;
  padding: 0.5em;

  .right.menu {
    .item {
      color: $primary-color;
    }
  }
}

#layoutContainer {
  .row {
    padding: 0;
    height: 91vh;

    .three.wide.column {
      background: linear-gradient(to right, #2a3058 0, #0b1ea2 100%);
      color: white;
      padding-right: 0;
    }

    .thirteen.wide.column {
      padding-left: 0;
    }
  }
}

#layoutSidebar {
  border-radius: 0;
  background: transparent;
  font-size: 1.2rem;

  .sixteen.wide.column {
    margin: 4px;

    a {
      color: white;
      font-weight: bold;
      opacity: .8;
    }

    a.active {
      opacity: 1;
    }
  }

  .sixteen.wide.column:hover {
    a {
      opacity: 1;
    }
  }
}

#layoutContent {
  border-radius: 0;
  height: 100%;
  overflow-y: scroll;
}